<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/">
                    <img src="../../../app-assets/images/logo/logo.png" width="120" alt="">
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

            <li class=" navigation-header"><span>Apps</span>
            </li>
            <li class=" nav-item"><a href="/dashboard"><i class="feather icon-activity"></i><span class="menu-title" data-i18n="Email">Dashboard</span></a>
            </li>
            <li class=" nav-item"><a href="/profile"><i class="feather icon-user"></i><span class="menu-title" data-i18n="Chat">Profile</span></a>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-dollar-sign"></i><span class="menu-title" data-i18n="Ecommerce">Wallet</span></a>
                <ul class="menu-content">
                    <li><a href="/balance"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Shop">Balance</span></a>
                    </li>
                    <li><a href="/history"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Details">History</span></a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-user-plus"></i><span class="menu-title" data-i18n="Ecommerce">Network</span></a>
                <ul class="menu-content">
                    <li><a href="/tree"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Shop">Tree</span></a>
                    </li>
                    <li><a href="/member"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Details">Member</span></a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="/policy"><i class="feather icon-database"></i><span class="menu-title" data-i18n="Calender">Policy</span></a>
            </li>
            <li class=" nav-item"><a href="/logout"><i class="feather icon-log-out"></i><span class="menu-title" data-i18n="Calender">Logout</span></a>
            </li>
        </ul>
    </div>
</div>
<!-- END: Main Menu-->