<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="../../../favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/charts/apexcharts.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/card-analytics.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">
    <%- include("header") -%>
    <%- include("menu") -%>
        <!-- BEGIN: Content-->
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <!-- Dashboard Analytics Start -->
                    <section id="dashboard-analytics">
                        <div class="row">
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <div class="card bg-rgba-primary text-white">
                                    <div class="card-content">
                                        <div class="card-body text-center">
                                            <div class="avatar avatar-xl bg-rgba-primary shadow mt-0">
                                                <div class="avatar-content">
                                                    <i class="feather icon-award white font-large-1"></i>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <h1 class="mb-2 text-white">Policy for developers</h1>
                                                <p class="m-auto w-75">This is extremely attractive development policy for our Asian team.</p>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
                                                    <div class="text-center">
                                                        <h3 class="text-white text-left">Direct commission</h3>
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered mb-0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Level</th>
                                                                        <th>Profit</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>F1</td>
                                                                        <td>15%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F2</td>
                                                                        <td>6%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F3</td>
                                                                        <td>3%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F4</td>
                                                                        <td>1%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F5</td>
                                                                        <td>0.8%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F6</td>
                                                                        <td>0.6%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F7</td>
                                                                        <td>0.5%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F8</td>
                                                                        <td>0.3%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F9</td>
                                                                        <td>0.2%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F10</td>
                                                                        <td>0.1%</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
                                                    <h3 class="text-white text-left">Indirect commission</h3>
                                                    <div class="text-center">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered mb-0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Level</th>
                                                                        <th>Profit</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>F1</td>
                                                                        <td>30%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F2</td>
                                                                        <td>20%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>F3</td>
                                                                        <td>10%</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <p class="col-12 text-white text-left"><i>Note: All rewards in the process of expanding the user are paid immediately afterwards from Binance
                                                    Capital Corporation</i></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-12">
                                <div class="card">
                                    <div class="card-header d-flex flex-column align-items-start pb-0">
                                        <div class="avatar bg-rgba-primary p-50 m-0">
                                            <div class="avatar-content">
                                                <i class="feather icon-package text-primary font-medium-5"></i>
                                            </div>
                                        </div>
                                        <h2 class="text-bold-700 mt-1 mb-2">Official Document</h2>
                                        <p class="text-white text-left mb-2">The official information of Binance Capital.</p>
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="flag-icon flag-icon-gb-eng"></i>
                                            </div>
                                            <div class="col-9 mb-2">
                                                <a class="" target="_blank" href="../../../app-assets/documents/BinanceCapitalEnglish.pdf">English</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="flag-icon flag-icon-vn"></i>
                                            </div>
                                            <div class="col-9 mb-2">
                                                <a class="" target="_blank" href="../../../app-assets/documents/BinanceCapitalVietNam.pdf">Vietnam</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header d-flex flex-column align-items-start pb-0">
                                        <div class="avatar bg-rgba-primary p-50 m-0">
                                            <div class="avatar-content">
                                                <i class="feather icon-download text-primary font-medium-5"></i>
                                            </div>
                                        </div>
                                        <h2 class="text-bold-700 mt-1 mb-2">Download</h2>
                                        <h5 class="text-white text-left">English Document</h5>
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="flag-icon flag-icon-gb-eng"></i>
                                            </div>
                                            <div class="col-9 mb-2">
                                                <a href="../../../app-assets/documents/BinanceCapitalEnglish.pdf" download>English</a>
                                            </div>
                                        </div>
                                        <h5 class="text-white text-left">VietNam Document</h5>
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="flag-icon flag-icon-vn"></i>
                                            </div>
                                            <div class="col-9 mb-2">
                                                <a href="../../../app-assets/documents/BinanceCapitalVietNam.pdf" download>Vietnam</a>
                                            </div>
                                        </div>
                                        <h5 class="text-white text-left">Policy Document</h5>
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="flag-icon flag-icon-gb-eng"></i>
                                            </div>
                                            <div class="col-9 mb-2">
                                                <a href="../../../app-assets/documents/BinanceCapitalPolicy.pdf" download>Policy</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header d-flex flex-column align-items-start pb-0">
                                        <p class="text-white text-left mb-2">We provide official documentation to assist our customers in learning and developing. The copyright belongs to Binance Capital, any commercial copying of the corporation is prohibited.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Dashboard Analytics end -->
    
                </div>
            </div>
        </div>
        <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    
    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/cards/card-statistics.js"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>